<div class= "formWrapper">
  <h1 class = "robotoCondensedBold">Log In</h1>
  <%= render "shared/login_form", {user: @user} %></br>
  <p><%= link_to "Don't have an account? Create one!", signup_path, class: "link robotoMono"%></p>
</div>
