<!DOCTYPE html>
<html>
  <body>
    <h1 class="userText">Let's Get You Swolled <%= @user.name %> </h1>

    <%= link_to "Search Up Local Gym's", search_gyms_path, class: "link" %>

    <div class="favorites">
      <% if @fav %>
        <% @fav.each do |f| %>
          <%= f.name %>
          <%= f.display_address %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
