<h1 class="bannerText">What's Your Gym ?</h1>
<nav>
  <%= button_to("Logout", logout_path, method: "delete", class: "button") %>
  <%= button_to("Profile", "/users/:id", method: "get", class: "button") %>
</nav>
