<!DOCTYPE html>
<html>
  <body class="welcomepage">
    <div class= "welcome">
      <h3 class = "welcomeText">Welcome Juice Heads</h3>
      <button class= "button"><%= link_to "Log In", login_path, class: "welcomeLink"%></button>
      <button class= "button"><%= link_to "Sign Up", signup_path, class: "welcomeLink"%></button>
    </div>
  </body>
</html>
