/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .welcomeLink{
   text-decoration: none;
   color: white;
 }

 .form {
   width: 25vw;
   margin: 0 auto;
   text-align:center;
}

#rest-wrapper {
	background-color: #212121;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100vh;
	padding: 40px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#rest-wrapper div {
	background-color: #424242;
  padding: 5px;
  width: 10%;
  min-width: 100px;
  height: 200px;
  color: white;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
